.composition {
  position: relative;

  &__photo {
    width: 55%;
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 1rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 1;
    transition: all 0.2s;
    outline-offset: 2rem;

    &--p1 {
      top: -1rem;
      left: 0;
    }

    &--p2 {
      top: 1rem;
      right: 0;
    }

    &--p3 {
      top: 10rem;
      left: 20%;
    }

    &:hover {
      transform: scale(1.05);
      outline: 1rem solid $color-primary;
      z-index: 2;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
